

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
   background-image: linear-gradient(to right,#010221,#0A7373 );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px  10px rgb(2, 4, 64);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#EDAA25;
    text-align: center;
    text-shadow: 1px 1px 0px #c08a1f;
}
h2 {
    color: #C43302
}

p {
    text-align: justify;
}
