@charset "utf-8";

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;

}
h1 {
    color: #333;
    text-align: center;
}
h1#principal {
    font-size: 2.5em;
    margin-top: 20px;
    background-color: blue;
}
h2 {
    color: #555;
    margin-top: 20px;
}

.basico {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
}
.avancado {
    font-size: 1.2em;
    color: #007BFF;
    margin: 10px 0;
}
.intermediario {
    font-size: 1.2em;
    color: #28A745;
    margin: 10px 0;
}